:root{
  --darkblue:#316879;
  --orange:#f47a60;
  --brightblue:#7fe7dc;
  --dbrightblue:#0ee9d3;
  --grey:#ced7d8;
  --white:#e9e7ea;
}
.whole-page{
  background: url(Images/Backdrop.jpg) no-repeat;
  background-size: cover;
}
.action-bar{
  padding:  0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: "kano", sans-serif;
  font-weight: bold;
}
nav{
  background: var(--darkblue);
  height: 80px;
  width: 100%;
}
label.logo{
  color:var(--brightblue);
  font-size: 35px;
  line-height:80px;
  padding: 0 100px;
  font-weight:bold;
  font-family: 'Emblema One', system-ui;
  letter-spacing: -8.5px;
}
nav ul{
  float: right;
  margin-right: 100px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin:0 5px;
}
nav ul li a{
  color:var(--brightblue);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
nav ul li a.active,a:hover{
  background: var(--brightblue);
  color: var(--darkblue);
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (max-width:1560px){
  label.logo{
      font-size: 30px;
      padding-left: 50px;
      padding-right: 50px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:5 0px;
  } 
  nav ul li a{
      font-size:16px;
  }
}

@media (max-width:858px){
  .checkbtn{
      display: block;
  }
  nav ul{
      position: fixed;
      width: 50%;
      height:100vh;
      background:var(--darkblue);
      top:80px;
      left:-100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin:25px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
      color:var(--brightblue);
      font-weight: lighter;
  }
  nav ul li a:hover,nav ul li a.active{
      background:var(--dbrightblue);
      color:#323232;
  }
  #check:checked~ul{
      left:0;
  }
}
.position-relative{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap:10px;
  margin-top: 80px;
  margin-bottom: 48px;
  margin-left: 48px;
  margin-right: 150px;
}
.h1{
  grid-area:1/1/2/2;
}

.h2{
 grid-area:2/1/3/2;
}

.myimage{
  grid-area:1/2/3/3;
}

/* action-bar css end */

.main-frame{
  background-color: var(--darkblue);
  background-size: cover;
  border-top: var(--brightblue) 5px solid;
}
.main-frame .pb-2{
  color: var(--brightblue);
}
.text-bg-primary1{
  color: var(--brightblue);
  background-color: var(--darkblue);
}
.container-work{
  background-color: var(--darkblue);
  border-radius: 10px;
}
.main-frame h3{
  color: var(--brightblue);
}
.main-frame p{
  color: var(--brightblue);
}
.d-flex{
  color:var(--darkblue);
  font-weight: bold;
}
.py-5 {
  padding-top: 68px !important;
  padding-bottom: 83px !important;
}
.py-4 {
  padding-top: 50px !important;
  padding-bottom: 83px !important;
}
small{
  color: var(--darkblue);
}
.pb-2{
  color: var(--brightblue);
}
.about{
  font-size: 20px;
  margin-right: 50px;
}
.bi{
  border-radius: 40;
}
.view{
  background-color: var(--orange);
  color: var(--white);
  max-width:fit-content;
  border-radius: 20px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
.dis-flex{
  background-color:var(--orange);
  display:flex;
  align-items: center;
  font-weight: bold;
}
.dis-flex p{
  color: var(--white);
}
.container-box{
  background-color: var(--darkblue);
  margin-top: 50px;
  padding: 30px;
}









