:root{
  --darkblue:#316879;
  --orange:#f47a60;
  --brightblue:#7fe7dc;
  --dbrightblue:#0ee9d3;
  --grey:#ced7d8;
  --white:#e9e7ea;
}
.whole-page{
  background: url(Images/Backdrop.jpg) no-repeat;
  background-size: cover;
}
.action-bar{
  padding:  0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
nav{
  background: var(--darkblue);
  height: 80px;
  width: 100%;
}
label.logo{
  color:var(--brightblue);
  font-size: 35px;
  line-height:80px;
  padding: 0 100px;
  font-weight:bold;
  font-family: 'Emblema One', system-ui;
  letter-spacing: -8.5px;
}
nav ul{
  float: right;
  margin-right: 100px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin:0 5px;
}
nav ul li a{
  color:var(--brightblue);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
nav ul li a.active,a:hover{
  background: var(--brightblue);
  color: var(--darkblue);
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (min-width:1200px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:5 0px;
  } 
  nav ul li a{
    font-size:16px;
  }
  .card-container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.5rem;
  }
  .card-article{
    width:328px;
  }
  .card-img{
    width:348px;
  }
  .card-data{
    width:316px;
    padding-inline:2.5rem
  }
}
@media (min-width: 993px) and (max-width: 1200px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:5 0px;
  } 
  nav ul li a{
    font-size:16px;
  }
  .card-container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .card-article{
    width:400px;
  }
  .card-img{
    width:348px;
  }
  .card-data{
    width:316px;
    padding-inline:2.5rem
  }
}
@media (min-width: 769px) and (max-width: 992px){
  .checkbtn{
    display: block;
  } 
  nav ul{
    position: fixed;
    width: 50%;
    height:100vh;
    background:var(--darkblue);
    top:80px;
    left:-100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin:25px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
    color:var(--brightblue);
    font-weight: lighter;
  }
  nav ul li a:hover,nav ul li a.active{
    background:var(--dbrightblue);
    color:var(--darkblue);
  }
  #check:checked~ul{
    left:0;
  }
  .card-container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
@media (max-width: 768px){
  .checkbtn{
    display: block;
  } 
  nav ul{
    position: fixed;
    width: 50%;
    height:100vh;
    background:var(--darkblue);
    top:80px;
    left:-100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin:25px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
    color:var(--brightblue);
    font-weight: lighter;
  }
  nav ul li a:hover,nav ul li a.active{
    background:var(--dbrightblue);
    color:var(--darkblue);
  }
  #check:checked~ul{
    left:0;
  }
  .card-container{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width:576px){
  .checkbtn{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 50%;
    height:100vh;
    background:var(--darkblue);
    top:80px;
    left:-100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin:25px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
    color:var(--brightblue);
    font-weight: lighter;
  }
  nav ul li a:hover,nav ul li a.active{
    background:var(--dbrightblue);
    color:var(--darkblue);
  }
  #check:checked~ul{
    left:0;
  }
  .conta{
    margin-inline: 1rem;
  }
  .card-data{
    width:250px;
    padding:1rem;
  }
  .card-container{
    grid-template-columns: repeat(1, 1fr);
  }
}
  


/* action-bar css end */

.container .d-flex{
  cursor: pointer;
  overflow: hidden;
}
.container .d-flex .d-inline-flex{
  transition: .2s linear;
}
.container .d-flex:hover .d-inline-flex{
  transform: scale(1.1);
}
.container .popup-image{
  position: fixed;
  top: 0; left: 0;
  background: rgba(0,0,0,.9);
  height: 100%;
  width: 100%;
  z-index:100;
  display: none;
}
.container .popup-image span{
  position: absolute;
  top: 0; right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: var(--white);
  cursor: pointer;
  z-index: 100;
}
.container .popup-image img{
  position: absolute;
  top: 50%; left: 50%;
  transform:translate(-50%, -50%);
  border: 5px solid var(--white);
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

/* about css end */

.dis-flex{
  background-color:var(--orange);
  display:flex;
  align-items: center;
  font-weight: bold;
}
.dis-flex p{
  color: var(--white);
}


/* footer css end */