:root{
  --darkblue:#316879;
  --orange:#f47a60;
  --brightblue:#7fe7dc;
  --dbrightblue:#0ee9d3;
  --grey:#ced7d8;
  --white:#e9e7ea;
}
.whole-page{
  background: url(Images/Backdrop.jpg) no-repeat;
  background-size: cover;
}
body{
  font-family: "kano", sans-serif;
  font-weight: bold;
}
.navbar{
  background: var(--darkblue) !important;
}
.navbar-brand{
  font-size: 35px;
  margin: 0 100px;
  padding: 0 5px 7px 5px;
}
.navbar-brand.active, .navbar-brand:hover{
  background: var(--brightblue);
  transition: .5s;
  border-radius: 2px;
}
.navbar-toggler-icon {
  background-image: url(../Hamburger-Bright\ Blue.svg);
  height: 35px;
}
.navbar-toggler{
  border: none;
  box-shadow: none;
}
.navbar-toggler.active, .navbar-toggler:hover, .navbar-toggler:focus{
  border: 1px solid var(--brightblue);
  box-shadow: none;
}
.navbar-collapse{
  float: right !important;
  margin-right: 100px;
  flex-grow: 0;
}
.navbar-nav{
  text-align: center;
}
.nav-link{
  margin:0 10px;
  color: var(--brightblue) !important;
  font-size: 17px;
  border-radius: 3px;
  text-decoration: none;
}
.nav-link.active, .nav-link:hover{
  background: var(--brightblue);
  color: var(--darkblue) !important;
  transition: .5s;
  border-radius: 3px;
}

@media (min-width:1200px){
  .card-container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.5rem;
  }
  .card-article{
    width:328px;
  }
  .card-img{
    width:348px;
  }
  .card-data{
    width:316px;
    padding-inline:2.5rem
  }
}
@media (min-width: 993px) and (max-width: 1200px){
  .card-container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .card-article{
    width:400px;
  }
  .card-img{
    width:348px;
  }
  .card-data{
    width:316px;
    padding-inline:2.5rem
  }
}
@media (min-width: 769px) and (max-width: 992px){
  .navbar-collapse{
    margin: 0;
  }
  .card-container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
@media (min-width: 577px) and (max-width: 768px){
  .navbar-collapse{
    margin: 0;
  }
  .card-container{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width:576px){
  .navbar-collapse{
    margin: 0;
  }
  .conta{
    margin-inline: 1rem;
  }
  .card-data{
    width:250px;
    padding:1rem;
  }
  .card-container{
    grid-template-columns: repeat(1, 1fr);
  }
}
  


/* action-bar css end */


.coming-soon{
  margin-left: 40%;
}
.conta{
  display: grid;
  place-items: center;
  margin-inline: 6rem;
  padding-block: 5rem;
}
.card-container{
  display: grid;
  row-gap:3.5rem;
}
.card-article{
  position: relative;
  overflow: hidden;
}
.card-img{
  width: 328px;
  border-radius: 5px;
}
.card-data{
  width: 280px;
  background-color: var(--grey);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}
.card-description{
  display: block;
  font-size:12px;
  margin-bottom: .25rem;
}
.card-title{
  font-size: 16px;
  font-weight: 500;
  color: var(--darkblue);
  margin-bottom: .75rem;
}
.card-button{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--orange);
}
.card-button:hover{
  text-decoration: underline;
}
.card-article:hover .card-data{
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}
.card-article:hover{
  animation: remove-overflow 2s forwards;
}
.card-article:not(:hover){
  animation: show-overflow 2s forwards;
}
.card-article:not(:hover) .card-data{
  animation: remove-overflow 1s forwards;
}
@keyframes show-data {
  50%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(-7rem);
  }
}
@keyframes remove-overflow {
  to{
    overflow: initial;
  }
}
@keyframes remove-data {
  0%{
    transform: translateY(.7rem);
  }
  50%{
    transform: translateY(.10rem);
  }
  0%{
    transform: translateY(.5rem);
  }
}
@keyframes show-overflown {
  0%{
    overflow: initial;
    pointer-events:none;
  }
  50%{
    overflow: hidden;
  }
  
}
/* about css end */
.dis-flex{
  background-color:var(--orange);
  display:flex;
  align-items: center;
  font-weight: bold;
}
.dis-flex p{
  color: var(--white);
}
.container-box{
  background-color: var(--darkblue);
  margin-top: 50px;
  padding: 30px;
}

/* footer css end */